# Ignore everything
*

# Un-ignore directories
!src/
!src/**
!backend/
!backend/**
backend/.venv/
backend/__pycache__/
backend/src/__pycache__/
__pycache__/

# Un-ignore specific files
!package.json
!package-lock.json
!esbuild.config.mjs
!tsconfig.json
!manifest.json
!versions.json
!.gitignore
!.vscode/
!.vscode/settings.json
backend/.env
!LICENSE